@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #F6F2EA;
    color: #1c1c17;
  }
}

.card-border {
  border: 1px solid #D8D1C6;
}

aside {
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.ml-sidebar-width {
  transition: margin-left 0.3s ease-in-out;
}

aside.collapsed {
  width: 80px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

aside.collapsed .font-headline-md, 
aside.collapsed .font-label-md, 
aside.collapsed hr, 
aside.collapsed button span:last-child {
  display: none !important;
}

aside.collapsed nav a {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

aside.collapsed #sidebar-toggle {
  right: -12px;
}

.ml-sidebar-width.collapsed-margin {
  margin-left: 80px !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.material-symbols-outlined[data-weight="fill"] {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

/* Main module/page titles must remain black */
.font-display-lg {
  color: #000000 !important;
}


